pkgbase = st-git
	pkgdesc = Heavily-patched build of st terminal.
	pkgver = 0.8.5.r3.g1757037
	pkgrel = 1
	url = https://github.com/santilococo/st
	arch = x86_64
	license = MIT
	makedepends = ncurses
	makedepends = libxext
	makedepends = git
	depends = libxft-bgra
	provides = st
	conflicts = st
	source = git+https://github.com/santilococo/st
	sha256sums = SKIP

pkgname = st-git
