pkgbase = cslock-git
	pkgdesc = Heavily-patched build of slock.
	pkgver = 1.4.r24.g521f3fd
	pkgrel = 1
	url = https://github.com/santilococo/cslock
	arch = x86_64
	license = MIT
	makedepends = git
	depends = libxrandr
	depends = libxinerama
	depends = libxft-bgra
	depends = imlib2
	depends = libxcrypt
	provides = slock
	conflicts = slock
	source = git+https://github.com/santilococo/cslock
	sha256sums = SKIP

pkgname = cslock-git
