pkgbase = cdwm-git
	pkgdesc = Heavily-patched build of dwm.
	pkgver = r1734.cef1fd0
	pkgrel = 1
	url = https://gitlab.com/slococo/cdwm
	arch = x86_64
	license = MIT
	makedepends = git
	depends = libxinerama
	depends = libxft
	provides = dwm
	conflicts = dwm
	options = !debug
	source = git+https://gitlab.com/slococo/cdwm
	sha256sums = SKIP

pkgname = cdwm-git
